@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$font-family: Inter, sans-serif;
$gap-size: 16px;
$box-width: 360px;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,
html {
    height: 100%;
}

body {
    background-color: color(white);
    font-family: $font-family;
}

// variables

$icons: (
    white-tick: "../img/white-tick.svg",
    tick: "../img/tick.svg",
    x-mark: "../img/x-mark.svg",
);

$colors: (
    blue: #1769ff,
    white: #fff,
    black: #000,
    secondary-black: #656c7c,
    primary-border-color: #e6e6e6,
    primary-button-color: #ea4c89,
    primary-button-bg-color: #ffecf0,
    gray: #b1b8c9,
    tag-bg-color: #fdb72e,
);

$fontSizes: (
    small: 16px,
    medium: 24px,
    large: 32px,
);

$lineHeights: (
    small: 19px,
    medium: 24px,
    large: 29px,
    larger: 39px,
);

$fontWeights: (
    regular: 400,
    bold: 500,
    bolder: 600,
    boldest: 700,
);

$margins: (
    small: 16px,
    medium: 24px,
    large: 32px,
    larger: 72px,
    largest: 98px,
);

$paddings: (
    smallest: 8px,
    small: 16px,
    medium: 24px,
    large: 32px,
    larger: 40px,
    largest: 48px,
    btn-vertical-padding: 15px,
    btn-horizontal-padding: 110px,
    tag-vertical-padding: 10px,
    tag-horizontal-padding: 18px,
);

$borders: (
    none: none,
    small: 8px,
    medium: 16px,
    large: 24px,
);

$radiuses: (
    small: 8px,
    medium: 16px,
    tag-radius: 40px,
);

$boxShadows: (
    primary: 0px 14px 30px rgba(204, 204, 204, 0.32),
);

$screenResolutions: (
    desktop: 1440px,
);

//functions
@function icon($icon) {
    @return map-get($map: $icons, $key: $icon);
}

@function color($color-name) {
    @return map-get($map: $colors, $key: $color-name);
}

@function font-size($font-size) {
    @return map-get($map: $fontSizes, $key: $font-size);
}

@function line-height($line-height) {
    @return map-get($map: $lineHeights, $key: $line-height);
}
@function font-weight($font-weight) {
    @return map-get($map: $fontWeights, $key: $font-weight);
}

@function margin($margin) {
    @return map-get($map: $margins, $key: $margin);
}

@function padding($padding) {
    @return map-get($map: $paddings, $key: $padding);
}

@function border($border) {
    @return map-get($map: $borders, $key: $border);
}
@function border-radius($border-radius) {
    @return map-get($map: $radiuses, $key: $border-radius);
}
@function box-shadow($box-shadow) {
    @return map-get($map: $boxShadows, $key: $box-shadow);
}
@function resulations($resulation) {
    @return map-get($map: screenResolutions, $key: $resulation);
}

// mixins
@mixin container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@mixin box {
    width: $box-width;
    padding: 32px 24px;
    flex: 0 1 auto;
    background-color: color(white);
    border: 1px solid #e6e6e6;
    border-radius: 16px;
}

@mixin text-font($font-size, $font-weight, $text-color, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $text-color;
    line-height: $line-height;
}

@mixin flex($justify, $align, $direction, $flex-wrap, $gap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $flex-wrap;
    gap: $gap;
}

@mixin margin($top, $right, $bottom, $left) {
    margin-bottom: $bottom;
    margin-top: $top;
    margin-right: $right;
    margin-left: $left;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-bottom: $bottom;
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;
}

@mixin primary-button($bg-color, $color, $border, $border-radius) {
    cursor: pointer;
    background: $bg-color;
    border-radius: $border-radius;
    border: $border;
    color: $color;
}

@mixin tag($bg-color, $color, $border-radius) {
    border-radius: $border-radius;
    background: $bg-color;
    color: $color;
}

@mixin hover($bg-color, $color, $shadow) {
    transition: 300ms all;
    background-color: $bg-color;
    color: $color;
    box-shadow: $shadow;
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

.container {
    @include margin(margin(largest), null, margin(largest), null);
    @include container;
    @include for-desktop-up {
        width: screenResolutions(desktop);
    }
    .title {
        @include flex(center, center, column, null, null);
        @include margin(null, null, margin(larger), null);
        h1 {
            @include text-font(font-size(large), font-weight(boldest), color(black), line-height(larger));
        }
        span {
            @include margin(margin(small), null, null, null);
            @include text-font(font-size(small), font-weight(regular), color(secondary-black), line-height(small));
        }
    }
    .pricing {
        @include flex(center, center, row, wrap, $gap-size);

        &__box {
            &:hover {
                @include hover(null, null, box-shadow(primary));
            }
            @include box();
            &__title {
                @include margin(null, null, margin(medium), null);
                @include flex(null, center, row, null, null);
                h3 {
                    @include text-font(font-size(medium), font-weight(regular), color(black), line-height(large));
                    @include margin(null, null, null, margin(small));
                }
            }
            &__desc {
                @include margin(null, null, margin(large), null);
                span {
                    @include text-font(
                        font-size(small),
                        font-weight(regular),
                        color(secondary-black),
                        line-height(medium)
                    );
                    opacity: 0.8;
                }
            }
            &__bannertext {
                @include margin(null, null, margin(large), null);
                span {
                    @include text-font(font-size(large), font-weight(bolder), color(white), line-height(larger));
                }
            }
            &__pricetext {
                @include margin(null, null, margin(large), null);
                span {
                    &:first-child {
                        @include text-font(font-size(large), font-weight(bolder), color(black), line-height(larger));
                    }
                    &:last-child {
                        @include text-font(
                            font-size(small),
                            font-weight(regular),
                            color(secondary-black),
                            line-height(medium)
                        );
                    }
                }
            }
            &__featurelist {
                ul li {
                    @include margin(null, null, margin(large), null);
                    @include flex(null, center, row, null, $gap-size);
                    @include text-font(font-size(small), font-weight(bold), color(black), line-height(medium));
                }
            }
            &__btnstart {
                @include flex(center, center, row, null, null);
                button {
                    @include primary-button(
                        color(primary-button-bg-color),
                        color(primary-button-color),
                        border(none),
                        border-radius(small)
                    );
                    @include padding(
                        padding(btn-vertical-padding),
                        padding(btn-horizontal-padding),
                        padding(btn-vertical-padding),
                        padding(btn-horizontal-padding)
                    );
                    @include text-font(font-size(small), font-weight(bolder), null, null);
                    &:hover {
                        @include hover(color(primary-button-color), color(white), null);
                    }
                }
            }
            &#pricingFree {
                .pricing__box {
                    &__featurelist {
                        ul li {
                            &:nth-child(-n + 2) {
                                color: color(black);
                            }
                            color: color(gray);
                            &:not(:last-child):before {
                                content: url(icon(x-mark));
                            }
                            &:nth-child(-n + 2):before {
                                content: url(icon(tick));
                            }
                        }
                    }
                }
            }

            &#pricingEnterprise {
                background-color: color(blue);
                .pricing__box {
                    &__featurelist {
                        ul li {
                            color: color(white);
                            &::before {
                                content: url(icon(white-tick));
                            }
                        }
                    }
                    &__btnstart {
                        button {
                            background-color: color(white);
                            &:hover {
                                @include hover(color(primary-button-color), color(white), null);
                            }
                        }
                    }
                    &__title {
                        h3 {
                            color: color(white);
                        }
                    }
                    &__desc {
                        span {
                            color: color(white);
                        }
                    }
                }
            }

            &#pricingPro {
                .pricing__box {
                    &__pro {
                        @include flex(space-between, center, row, null, null);
                    }
                    &__tag {
                        @include tag(color(tag-bg-color), color(white), border-radius(tag-radius));
                        @include margin(null, null, margin(large), null);
                        @include padding(
                            padding(tag-vertical-padding),
                            padding(tag-horizontal-padding),
                            padding(tag-vertical-padding),
                            padding(tag-horizontal-padding)
                        );
                    }
                    &__featurelist {
                        ul li {
                            &:nth-child(-n + 3) {
                                color: color(black);
                            }
                            color: #b1b8c9;
                            &:not(:last-child):before {
                                content: url(icon(x-mark));
                            }
                            &:nth-child(-n + 3):before {
                                content: url(icon(tick));
                            }
                        }
                    }
                }
            }
        }
    }
}
